In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('sale.csv')

In [3]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased satisfied
0  15624510    Male   19            19000          0         no
1  15810944    Male   35            20000          0         no
2  15668575  Female   26            43000          0         no
3  15603246  Female   27            57000          0         no
4  15804002    Male   19            76000          0         no

In [4]:
data.shape

(400, 6)

In [5]:
data.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased',
       'satisfied '],
      dtype='object')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
 5   satisfied        400 non-null    object
dtypes: int64(4), object(2)
memory usage: 18.9+ KB

In [7]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
User ID,400.0,1.569154e+07,71658.321581,15566689.0,15626763.75,15694341.5,15750363.0,15815236.0
Age,400.0,3.765500e+01,10.482877,18.0,29.75,37.0,46.0,60.0
EstimatedSalary,400.0,6.974250e+04,34096.960282,15000.0,43000.00,70000.0,88000.0,150000.0
Purchased,400.0,3.575000e-01,0.479864,0.0,0.00,0.0,1.0,1.0

In [ ]:
data.isna().sum()

In [ ]:
data['satisfied '].value_counts()

In [ ]:
sns.countplot(x=data['satisfied '])

Dataset is Unbalanced

In [ ]:
data.select_dtypes(include='object').columns

## Labeling Categorical Variables to Numerical

In [ ]:
from sklearn.preprocessing import LabelEncoder

lbn = LabelEncoder()

In [ ]:
data['Gender'] = lbn.fit_transform(data['Gender'])
data['satisfied '] = lbn.fit_transform(data['satisfied '])

In [ ]:
data.Gender.value_counts()

In [ ]:
data['satisfied '].value_counts()

1 --> Yes

0 --> No

## Under Sampling

In [ ]:
Yes_data = data[data['satisfied ']==1]
No_data = data[data['satisfied ']==0]

In [ ]:
Yes_data.shape, No_data.shape

In [ ]:
Yes_sample = Yes_data.sample(n=100)

In [ ]:
Yes_sample.shape

In [ ]:
new_data = pd.concat([Yes_sample, No_data], axis=0)

In [ ]:
new_data.head()

In [ ]:
new_data['satisfied '].value_counts()

## Splitting Features and Target Variables

In [ ]:
x = new_data.drop('satisfied ', axis=1)
y = new_data['satisfied ']

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=2)

# Model Building

In [ ]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()

In [ ]:
model.fit(x_train, y_train)

### Model Evaluation

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score

In [ ]:
confusion_matrix(y_test, y_pred)

In [ ]:
print(f'Accuracy : {accuracy_score(y_test, y_pred)*100}%')